fastapi>=0.95.0
uvicorn>=0.20.0
dspy>=0.1.0
pydantic>=2.0.0

openai
beautifulsoup4
tiktoken
pytest
pytest-asyncio
esprima
websockets
pydantic-ai
python-dotenv
pathspec
#scikit-learn
chromadb
backoff
langchain
toml
trafilatura
langchain_text_splitters
qdrant_client
langchain_qdrant
langchain_huggingface
pandas
duckduckgo_search
tavily-python
google-api-python-client
azure-search-documents
azure-core